
    <footer class="footer">
      <div class="container">
        <div class="row vertical-align">
          <div class="col-xs-4 text-muted text-center">
            <span class="glyphicon glyphicon-tag" aria-hidden="true" title="Version"></span> {{us-version}}
          </div>
          <div class="col-xs-4 text-muted text-center">
            <span class="glyphicon glyphicon-download" aria-hidden="true" title="Installed Bundles"></span> {{us-num-bundles}}
          </div>
          <div class="col-xs-4 text-muted text-center">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true" title="Active Bundles"></span> {{us-num-active-bundles}}
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
