

<h3>Bundle Overview</h3>
<table class="tight striped sortable" cellspacing="0" celpadding="0">
<thead><tr>
  <th>Id</th>
  <th>Bundle</th>
  <th>Version</th>
  <th>Vendor</th>
  <th>Loaded</th>
</tr></thead>
<tbody class="template">
<tr>
<td class="bundle-id"></td>
<td class="bundle-name"><a href="/Console/bundles/" class="bundle-name"></a></td>
<td class="bundle-version"></td>
<td class="bundle-vendor"></td>
<td class="bundle-loaded"></td>
</tr>
</tbody>
</table>

<script>
var getCheckBox = function(data) {
  if (data.item.loaded) return "<i class='icon-check'></i>";
  else return "<i class='icon-check-empty'></i>";
};

var request = $.getJSON("bundles");

request.done(function(data) {
  var directive = {
    'tr':{
      'bundle<-bundles':{
        'td.bundle-id':'bundle.id',
        'td.bundle-id@value':'bundle.id',
        'a.bundle-name':'bundle.name',
        'a.bundle-name@href+':'bundle.id',
        'td.bundle-name@value':'bundle.name',
        'td.bundle-version':'bundle.version',
        'td.bundle-version@value':'bundle.version',
        'td.bundle-vendor':'bundle.vendor',
        'td.bundle-vendor@value':'bundle.vendor',
        'td.bundle-loaded':getCheckBox,
        'td.bundle-loaded@value':'bundle.loaded'
      }
    }
  };
  $('tbody.template').render(data, directive);

  // fix row classes
  var rows = $('table.sortable').find('tbody tr');
  rows.removeClass('alt first last');
  var table = $('table.sortable');
  table.find('tr:even').addClass('alt');
  table.find('tr:first').addClass('first');
  table.find('tr:last').addClass('last');
});

request.fail(function(jqXHR, textStatus, errorThrown) {
  alert(textStatus + errorThrown);
});
</script>
