<div class="container-fluid">
  <h2>Interface {{interface}}</h2>

  <p>Back to <a href="{{pluginRoot}}"> {{pluginTitle}}</a></p>
  
  <div class="row">
    
    <div class="col-md-12 table-responsive">
      <table class="table table-striped">
        
        <thead>
          <tr><th>Bundle</th><th>Service ID</th><th>Types</th><th>Ranking</th><th>Scope</th><th>Properties</th></tr>
        </thead>
        <tbody>
          {{#services}}
          <tr><td><a href="{{appRoot}}/bundles/{{bundle-id}}">{{bundle}}</a></td><td>{{id}}</td><td>{{types}}</td><td>{{ranking}}</td><td>{{scope}}</td><td class="json" id="service-props-{{id}}"></td></tr>
          <script>$('#service-props-{{id}}').jsonViewer({{&props}}, { collapsed: true });</script>
          {{/services}}
        </tbody>

      </table>
    </div>
    
  </div>
  
</div> <!-- /container -->
