
<div class="container-fluid">
  <h1>{{pluginTitle}}</h1>
  
  <div class="row">
    
    <div class="col-md-6 table-responsive">
      <h3>Configuration</h3>
      <table class="table table-striped">
        <tbody>
          <tr><td>Thread support</td><td>
            {{#us-thread}}
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="sr-only">Yes</span>
            {{/us-thread}}
            {{^us-thread}}
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <span class="sr-only">No</span>
            {{/us-thread}}</td>
          </tr>
          <tr><td>Shared libraries</td><td>
            {{#us-shared}}
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="sr-only">Yes</span>
            {{/us-shared}}
            {{^us-shared}}
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <span class="sr-only">No</span>
            {{/us-shared}}</td>
          </tr>
          <tr><td>Storage path</td><td>{{us-storagepath}}</td>
        </tbody>
      </table>
    </div>
    
    <div class="col-md-6 table-responsive">
      <h3>Framework Properties</h3>
      <table class="table table-striped">
        <thead>
          <tr><td>Key</td><td>Value</td></tr>
        </thead>
        <tbody>
          {{#us-fwprops}}
          <tr><td>{{key}}</td><td>{{value}}</td></tr>
          {{/us-fwprops}}
        </tbody>
      </table>
    </div>
    
  </div>
  
</div> <!-- /container -->
