*~
*.o
*.so
CMakeLists.txt.user*
gh-pages
core/examples/makefile/main
*.tlog
*.lastbuildstate
*.obj
*.unsuccessfulbuild
*.lib
*.bak
*.map
*.pdb
*.dll
*.exe
*.vcxproj
*.filters
*.stamp
*.log
*.zip
*.cache
*.depend
*.suo
*.opensdf
*.sdf
*.rule
*.sln
*.exp
*.bin
*.user
