[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	update = merge
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
	update = merge
[submodule "third_party/boost/nowide"]
	path = third_party/boost/nowide
	url = https://github.com/boostorg/nowide.git
