sudo: false

language: cpp

env:
  global:
    - PATH=$HOME/cache/bin/:$PATH
    - secure: "g2dT1rLVDXAR7uFkhgKlm7rUqCPHwl+o4CFSqEo5w9H/M5xuuQLP597J8qwhgkWutJABM4G4zLF9yzb5rTbUH1BSdGTzmdUkvJGvLOFq09xwLQP5PAKlq6s1dpVr7J9Ciy49cEVDD2leaikMf9zK3ty9Fv5F2mL3Itd6a/U5M5o="

matrix:
    include:
        - os: linux
          addons: &valgrind
            apt:
              packages: valgrind
          compiler: gcc
          env: BUILD_CONFIGURATION=0
        - os: linux
          addons: *valgrind
          compiler: gcc
          env: BUILD_CONFIGURATION=1
        # latest compiler on OS X
        - os: osx
          osx_image: xcode7.3
          compiler: clang
          env: BUILD_CONFIGURATION=0 MACOSX_DEPLOYMENT_TARGET=10.11
        - os: osx
          osx_image: xcode7.3
          compiler: clang
          env: BUILD_CONFIGURATION=1 MACOSX_DEPLOYMENT_TARGET=10.11
        # minimum supported compiler on OS X
        - os: osx
          osx_image: xcode6.4
          compiler: clang
          env: BUILD_CONFIGURATION=0 MACOSX_DEPLOYMENT_TARGET=10.10
        - os: osx
          osx_image: xcode6.4
          compiler: clang
          env: BUILD_CONFIGURATION=1 MACOSX_DEPLOYMENT_TARGET=10.10

cache:
  directories:
    - $HOME/cache

branches:
  except:
    - gh_pages

addons:
  coverity_scan:
    project:
      name: CppMicroServices/CppMicroServices
      description: "Build submitted via Travis CI"
    notification_email: sascha.zelzer@gmail.com
    build_command_prepend: "mkdir us-cov; cd us-cov; cmake -DCMAKE_BUILD_TYPE:STRING=Release -DUS_BUILD_EXAMPLES:BOOL=ON -DUS_BUILD_TESTING:BOOL=ON -DUS_BUILD_SHARED_LIBS:BOOL=ON ../"
    build_command:   "make -j 4"
    branch_pattern: coverity_scan


before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then bash install_cmake.sh ; fi


script:
  - if [ "${COVERITY_SCAN_BRANCH}" != 1 ]; then ctest -VV -S ./cmake/usCTestScript_travis.cmake ; fi

