name: BuildAndTest

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  BUILD_DIR: ${{github.workspace}}/build
  BUILD_CONFIGURATION: 0
  WITH_COVERAGE: 1
  MY_COVERAGE: gcov

jobs:
  minimum_supported_gcc_build:
    name: Build and test on minimum supported gcc compiler
    runs-on: ubuntu-18.04
    env:
       BUILD_CONFIGURATION: 0
       WITH_COVERAGE: 0

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    
    - name: Install dependencies
      run: |
        sudo apt-add-repository -y "ppa:ubuntu-toolchain-r/test"
        sudo apt-get update
        sudo apt-get -yq --no-install-suggests --no-install-recommends install gcc-5 g++-5 valgrind
      
    - name: Configure Build and Test
      run: ctest -VV -S ${{github.workspace}}/cmake/usCTestScript_github.cmake
      env:
         CC: gcc-5
         CXX: g++-5

  gcc_tsan_build:
    name: Build and test with gcc and tsan (no memcheck)
    runs-on: ubuntu-18.04
    env:
       BUILD_CONFIGURATION: 0
       WITH_COVERAGE: 0
       WITH_MEMCHECK: 0
       WITH_TSAN: 1
       TSAN_OPTIONS: "suppressions=${{github.workspace}}/tsan_suppressions.txt"

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Configure Build and Test
      run: ctest -VV -S ${{github.workspace}}/cmake/usCTestScript_github.cmake
  
  linux_clang_build:
    name: Build and test on supported clang compiler
    runs-on: ubuntu-18.04
    env:
       BUILD_CONFIGURATION: 0
       WITH_COVERAGE: 0

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    
    - name: Install dependencies
      run: sudo apt-get -yq --no-install-suggests --no-install-recommends install valgrind lld
      
    - name: Configure Build and Test
      run: ctest -VV -S ${{github.workspace}}/cmake/usCTestScript_github.cmake
      env:
         CC: clang
         CXX: clang++
  
  build:
    name: Build and test on ${{matrix.os}} with build configuration ${{matrix.buildconfiguration}} 
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        #  windows will continue to use appveyor for now.
        # TODO: look into pros/cons of migrating windows builds to github workflows
        os: [ubuntu-18.04, macOS-latest]
        # build configurations:
        # 0 = threading ON / shared lib ON
        # 1 = threading ON / shared lib OFF
        # 2 = threading OFF / shared lib ON
        # 3 = threading OFF/ shared lib OFF
        buildconfiguration: [0,1,2,3]

    steps:
    - uses: actions/checkout@v2
      with:
         submodules: true

    - name: Install valgrind
      run: sudo apt-get install -y valgrind
      if: ${{matrix.os == 'ubuntu-18.04'}}

    - name: Configure Build And Test
      run: ctest -VV -S ${{github.workspace}}/cmake/usCTestScript_github.cmake
      env: 
         BUILD_CONFIGURATION: ${{matrix.buildconfiguration}}
      
    - name: Code Coverage
      run: bash <(curl -s https://codecov.io/bash) -X gcov -s ${{github.workspace}}/build
  
